<!DOCTYPE html>
<html lang="en">
<head>
  <title>Muvin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    html { scroll-behavior: smooth; }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-indigo w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-indigo" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#description" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Description</a>
    <a href="#publications" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Publications</a>
    <a href="#demo" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Online Demo</a>
    <a href="#code" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Source Code</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#description" class="w3-bar-item w3-button w3-padding-large">Description</a>
    <a href="#publications" class="w3-bar-item w3-button w3-padding-large">Publications</a>
    <a href="#demo" class="w3-bar-item w3-button w3-padding-large">Online Demo</a>
    <a href="#code" class="w3-bar-item w3-button w3-padding-large">Source Code</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-indigo w3-center" style="padding: 100px 16px">
  <!-- <h1 class="w3-margin w3-jumbo">MUVIN</h1> -->
  <p class="w3-xlarge">Muvin: MUltidimensional VIsualization of Networks</p>
  <img src="/muvin/images/muvin.png" class="w3-round" alt="Muvin" width="80%">
  <form action="/muvin/demo/" target=”_blank”>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" >Get Started</button>
  </form>
</header>

<!-- First Grid -->
<div id="description" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <!-- <div class="w3-twothird"> -->
      <h1>Description</h1>
      <h5 class="w3-padding-32">Muvin is a novel visualization techniques that combines streamgraphs and node-link diagrams to support the exploration of multidimensional collaboration networks.</h5>

      <p class="w3-text-grey">It comprises a timeline, where the x-axis encodes time in years and the y-axis represents the nodes of the network. The exploration follows an incremental approach in which the user chooses an author to begin the exploration. Stream-graphs provide then an overview of the author's production over time in terms of quantity (area's height) and type (color) of production, e.g. in the case of scientific publications the type corresponds to conference papers, journal articles, books, etc. Each item is represented as a dark red circle, which size encodes the number of collaborators. Both nodes and items are embedded with tooltips that provide supplemental information and a contextual menu that support operations such as navigate to data source, import data, hide author, etc.</p>
      <p class="w3-text-grey">A node-link diagram displays the collaborations between then through a \textbf{juxtaposed layout} displaying the individual profiles side by side as well as the network changes over time. At first, the collaborations of a person are represented through single black lines that connect people vertically at the years where a collaboration has been detected, i.e. there is at least one item in which they worked together. By hovering over a person's name, the system highlights all the items in which they collaborated with at least one other person being displayed, revealing at a glance the temporal collaboration patterns of two or more people, i.e. when, for how long and on how many items they worked together.</p>
      <p class="w3-text-grey">By using a focus+context technique, the user can focus on a particular author and then explore the relationships at a particular time unit. By clicking on a particular year, the timeline is stretched horizontally, revealing a node-link diagram linking together the different items co-authored by the displayed authors.</p>
    <!-- </div> -->

  </div>
</div>

<!-- Second Grid -->
<div id="publications" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
      <h1>Publications</h1>

      <ul class="w3-ul">
        <li>Aline Menin, Michel Buffa, Maroua Tikat, Benjamin Molinet, Guillaume Pelerin, et al.. Incremental and multimodal visualization of discographies: exploring the WASABI music knowledge base. WAC 2022 - Web Audio Conference 2022, Jul 2022, Cannes, France. (<a href="https://dx.doi.org/10.5281/zenodo.6767530">10.5281/zenodo.6767530</a>). (<a href="https://hal.science/hal-03748134">hal-03748134</a>)</li>
      </ul>
  </div>
</div>

<!-- Third Grid -->
<div id="demo" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
      <h1>Online Demo</h1>

      Muvin has been applied to 3 distinct datasets:

      <ul class="w3-ul">
        <li><b>HAL (HAL Archives Ouvertes)</b> knowledge graph, which describes scientific publications from all research fields. HAL is maily used by French researchers, who systematically enrich the dataset by including their research ressources (e.g. articles, patents, reports, etc.). Using Muvin, the user can explore the scientific production of one or multiple researchers as well as their collaborations over time.<br>
          You can explore the data at <a href="/muvin/hal/" target=”_blank” >http://dataviz.i3s.unice.fr/muvin/hal</a>
        </li>
        
        <li>The <b>CROBORA</b> dataset, which describes images (video thumbnails) extracted from videos used in the television during the last 20 years. Each image is annotated with descriptive keywords. Using Muvin, the user can explore the co-occurrence of those keywords, as well as understand the temporal evolution of their usage.<br>
          You can explore the data at <a href="/muvin/crobora/" target=”_blank” >http://dataviz.i3s.unice.fr/muvin/crobora</a>
        </li>

        <li>The <b>Wasabi</b> knowledge graph, which describes popular songs. Using Muvin, the user can explore the discography of artists and collaborations between musical artists and groups across time. <br>
          You can explore the data at <a href="/muvin/wasabi/" target=”_blank” >http://dataviz.i3s.unice.fr/muvin/wasabi</a><br><br>

          Using this dataset, we also provide a version of Muvin that uses audio to support user perception throughout the visual exploration process, and MIR analysis of songs through a direct link to the <a href="https://timeside.ircam.fr/docs/index.html">TimeSide service</a>. This version is available at <a href="http://dataviz.i3s.unice.fr/muvinWasabi/">http://dataviz.i3s.unice.fr/muvinWasabi/</a>
        </li>
      </ul>
  </div>
</div>

<!-- Fourth Grid -->
<div id="code" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
      <h1>Source Code</h1>
      <p class="w3-text-grey">Source code is available at <a href="https://github.com/Wimmics/muvin">https://github.com/Wimmics/muvin</a>.</p>
  </div>
</div>

<!-- Second Grid -->
<div id="contact" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
      <h1>Contact</h1>

      <ul class="w3-ul">
          <li><a href="https://amenin.gitlab.io/">Aline Menin</a>, Associate Professor at Université Côte d'Azur (E-mail: aline.menin@univ-cotedazur.fr)</li>
          <li><a href="https://www.i3s.unice.fr/~winckler/">Marco Winckler</a>, Full Professor at Université Cote d'Azur (E-mail: marco.winckler@univ-cotedazur.fr)</li>
      </ul>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-indigo">  
  <div class="w3-xlarge w3-padding-32 w3-white">
    <a href="https://univ-cotedazur.fr/" target=”_blank”><img src="/muvin/images/logos/uca.png" class="w3-round" alt="Université Côte d'Azur" width="60px"></a>
    <a href="https://www.cnrs.fr/fr" target=”_blank”><img src="/muvin/images/logos/cnrs.png" class="w3-round" alt="CNRS" width="60px"></a>
    <a href="https://www.i3s.unice.fr/fr/sparks" target=”_blank”><img src="/muvin/images/logos/i3s.png" class="w3-round" alt="I3S Laboratory, SPARKS team" width="60px"></a>
    <a href="https://www.inria.fr/en" target=”_blank”><img src="/muvin/images/logos/inria.png" class="w3-round" alt="Inria" width="60px"></a>
    <a href="https://team.inria.fr/wimmics/" target=”_blank”><img src="/muvin/images/logos/wimmics.png" class="w3-round" alt="Wimmics, project-team of Inria" width="60px"></a>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

$(document).ready(function(){

  this.hash = 'home'
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

</body>
</html>
