<!DOCTYPE html>
<html lang="en">

<head>
    <title>Muvin</title>
    <link rel="icon" type="image/x-icon" href="/muvin/images/favicon.ico">

    <script src="/muvin/lib/d3.min.js" ></script>
    <script src="/muvin/lib/d3-array.v2.min.js"></script>
    <script src="/muvin/lib/d3-selection-multi.v0.4.min.js"></script>
    <script src="/muvin/lib/d3-color@3.js"></script>
    <script src="/muvin/lib/d3-interpolate@3.js"></script>
    <script src="/muvin/lib/d3-scale-chromatic@3.js"></script>

    <script src="/muvin/lib/fisheye.js"></script>
    <script src='/muvin/lib/d3-context-menu/d3-context-menu.js'></script>
    <link rel='stylesheet' href='/muvin/lib/d3-context-menu/d3-context-menu.css' />

    <script src="/muvin/js/utils.js"></script>
    <script src="/muvin/js/legend.js"></script>
    <script src="/muvin/js/menu.js"></script>
    <script src="/muvin/js/dataModel.js"></script>
    
    <script src="/muvin/js/timeScale.js"></script>
    <script src="/muvin/js/timeaxis.js"></script>


    <script src="/muvin/js/nodesaxis.js"></script>
    
    <script src="/muvin/js/profile.js"></script>
    <script src="/muvin/js/profileAreaChart.js"></script>
    <script src="/muvin/js/profileStreamGraph.js"></script>

    <script src="/muvin/js/links.js"></script>
    <script src="/muvin/js/node-links.js"></script>

    <script src="/muvin/js/contextmenu.js"></script>

    <script src="/muvin/js/nodes.js"></script>
    <script src="/muvin/js/imagesNodes.js"></script>
    <script src="/muvin/js/normalNodes.js"></script>

    <script src="/muvin/js/tooltip.js"></script>
    <script src="/muvin/js/publicationsTooltip.js"></script>
    <script src="/muvin/js/musicTooltip.js"></script>
    <script src="/muvin/js/imageTooltip.js"></script>

    <script src="/muvin/js/muvin.js" type="module"></script>
</head>

<body>
    <vis-muvin id="muvin" app=<%= locals.app %> ></vis-muvin>

    <script>
        let locals = <%- JSON.stringify(locals) %>;
        console.log(locals)

        if (locals.params.value && locals.params.value.length) {
            let value = typeof(locals.params.value) === "string" ? locals.params.value : locals.params.value.join('--')
            let type = typeof(locals.params.type) === "string" ? locals.params.type : locals.params.type.join('--')
            document.querySelector("#muvin").setAttribute("type", type)
            document.querySelector("#muvin").setAttribute("value", value)
        }
    </script>
</body>