<!DOCTYPE html>
<html lang="en">

<head>
    <title>Muvin</title>
    <link rel="icon" type="image/x-icon" href="/muvin/images/favicon.ico">

    <script src="/muvin/lib/d3.min.js" ></script>
    <script src="/muvin/lib/d3-array.v2.min.js"></script>
    <script src="/muvin/lib/d3-selection-multi.v0.4.min.js"></script>
    <script src="/muvin/lib/d3-color@3.js"></script>
    <script src="/muvin/lib/d3-interpolate@3.js"></script>
    <script src="/muvin/lib/d3-scale-chromatic@3.js"></script>

    <script src="/muvin/lib/fisheye.js"></script>
    <script src='/muvin/lib/d3-context-menu/d3-context-menu.js'></script>
    <link rel='stylesheet' href='/muvin/lib/d3-context-menu/d3-context-menu.css' />

    <script src="/muvin/js/utils.js"></script>
    <script src="/muvin/js/legend.js"></script>
    <script src="/muvin/js/menu.js"></script>
    <script src="/muvin/js/dataModel.js"></script>
    <script src="/muvin/js/timeaxis.js"></script>
    <script src="/muvin/js/nodesaxis.js"></script>
    <script src="/muvin/js/search.js"></script>
    <script src="/muvin/js/profile.js"></script>
    <script src="/muvin/js/links.js"></script>
    <script src="/muvin/js/node-links.js"></script>
    <script src="/muvin/js/nodes.js"></script>
    <script src="/muvin/js/tooltip.js"></script>
    <script src="/muvin/js/muvin.js" type="module"></script>
</head>

<body>
    <vis-muvin id="muvin" ></vis-muvin>
</body>