<!DOCTYPE html>
<html lang="en">

<head>
    <title>Muvin</title>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="/muvin/lib/d3.min.js"></script>

    <link rel="stylesheet" href="/muvin/demo.css">
    <script src="/muvin/demo.js"></script>

    <link rel="stylesheet" href="/muvin/vis-muvin.css">
    <script type="module" src="/muvin/vis-muvin.bundle.js"></script>
</head>

<body>
    <div class="menu">
    
        <h3>Muvin</h3>
    
        <div id='menu-items' class='settings' >
            <div id="search-for" class='section'>
                <label>Search for</label>
                <datalist id='nodes-list'></datalist>
                <input type="text" list='nodes-list' id="nodes-input" placeholder="Type here...">
                <button id="search-go">Go</button>
            </div>
    
            <div>
                <button id="clear-cache">Clear Cache</button>
            </div>
        </div>
    </div>

    <div id="visualization" style="display:none;">
        <vis-muvin height="100vh" width="100vw" id="muvin" app=<%= locals.app %> ></vis-muvin>
    </div>

    <div class='welcome-text'></div>

    <script>

        let locals = <%- JSON.stringify(locals) %>;

        const navigationBar = new Demo()
        navigationBar.init()

    </script>
</body>