.menu{
    height: 35px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    padding: 10px;
    display: flex;
    background-color: rgb(44, 62, 80);
    color: white;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu h3{
    text-align: center;
    padding: 5px;
}

.menu-icon{
    cursor: pointer;
    position: relative;
    left: 10px;
    filter: brightness(0) invert(1);
}

.info-icon{
    cursor:pointer; 
    filter:brightness(0) invert(1);
}

.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    transition: .5s;
}

.settings{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    left: 10%;
    position: relative;
    font-size: 13px;
}

.settings input,
.settings select{
    padding: 5px;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.settings button{
    border: none;
    color: #000;
    cursor: pointer;
    left: 10px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
}

.settings button:hover{
    background-color: #ccc;
}

.settings button:focus {
    outline: none;
    box-shadow: none;
}

.settings .checkbox{
    display: flex;
    justify-content: space-between;
}

.settings td{
    font-size: 12px;
    padding-bottom: 1em;
}

.settings div{
    display: flex;
}

.settings label{
    width: 200px;
    padding: 10px;
    position: relative;
}

.settings tr{
    position: relative;
    top: 10px;
}